@font-face {
  font-family: "Geist-light";
  src: url("./public/fonts/Geist-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Geist-bold";
  src: url("./public/fonts/Geist-Bold.woff2") format("woff2");
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  background-color: #8a63d2;
  font-family: "Geist-light", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-top: 60px;
}

/* h1 {
  color: #61ff9c;
} */

.navegation-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
}
.navegation {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px transparent;
  background: white;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.navegation a {
  text-decoration: none;
  /*color: #61ff9c;*/
  /* color: #09f; */
  color: #8a63d2;
  padding: 2px;
  border-radius: 5px;
  font-family: "Geist-bold";
}

.navegation a:hover {
  background-color: #09f;
  color: white;
}

button {
  padding: 20px 40px;
  width: 170px;
  border-radius: 8px;
  border: transparent;
  background-color: #09f;
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin-top: 40px;
  font-weight: bold;
}

button:hover {
  z-index: 1;
  box-shadow: 2px 2px 2px 2px rgba(232, 228, 228, 0.2);
}
h1 {
  color: #61ff9c;
  font-weight: bold;
  font-family: "Geist-bold";
}

h2 {
  color: #61ff9c;
  font-weight: bold;
  font-family: "Geist-bold";
}
h3 {
  color: #61ff9c;
  font-weight: bold;
  font-family: "Geist-bold";
  margin-bottom: 10px;
}

main {
  margin-top: 20px;
  padding: 0px;
  font-size: 30px;
  font-weight: 900;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 0px;
}

.polar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin-left: 50px;
}
.short-description {
  padding-top: 20px;
  max-width: 400px;
}

p {
  color: white;
  font-size: 20px;
  font-weight: lighter;
}

.about {
  display: flex;
  max-width: 100%;
  justify-content: end;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.about > article > p {
  max-width: 500px;
  font-size: 16px;
  margin-bottom: 10px;
}

.about > article {
  margin-right: 20px;
}

.about > img {
  border-radius: 50%;
  aspect-ratio: 477/875;
  max-width: 200px;
  max-height: 400px;
}

#tecnologies {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#tecnologies > p {
  font-size: 16px;
  margin-bottom: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  row-gap: 20px;
  column-gap: 30px;
}

.card {
  padding: 10px;
  text-align: center;
  display: flex;
  background-color: white;
  justify-content: start;
  align-items: center;
  border-radius: 10px;
}

.card img {
  height: auto;
  margin-bottom: 10px;
  margin-right: 8px;
}

.card p {
  font-size: 15px;
  font-weight: 500;
  color: black;
}

.project {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: gray;
  color: black;
  margin-bottom: 20px;
}

.project p {
  color: black;
  font-size: 15px;
  font-weight: 500;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: auto;
  padding-top: 70px;
}
